.search {
    position: relative;

    .icon {
        position: absolute;
        left: 8px;
        bottom: 8px;
    }

    .form-control {
        padding-left: 32px;
        font-size: 14px;
    }
}

.view {
    .icon {
        fill: #636363;
    }

    &.active {
        background-color: #00809d15;

        .icon {
            fill: #00809d;
        }
    }

    &:hover .icon {
        fill: #00809d;
    }
}

.products {
    list-style: none;
}

.product-name {
    color: #636363;
}

.product-price {
    font-size: 14px;
    margin-top: 6px;
}

.product-stock {
    font-size: 14px;
    color: #009D52;
}

.out-of-stock {
    background-color: lighten($color: red, $amount: 47);

    .product-stock {
        color: red;
    }
}

.low-stock {
    background-color: lighten($color: orange, $amount: 47);

    .product-stock {
        color: orange;
    }
}

.dropdown-toggle {
    color: #636363;

    &::after {
        display: none;
    }
}