:host {
    display: block;
    padding: 32px 100px;
}

.logo-section {
    margin-bottom: 20px;
}

.illustration {
    margin-top: 18px;
    animation: fade-in 2s ease-in-out forwards;
}

.login,
.create-account {
    min-width: 394px;
    margin-right: 64px;
    animation: pop-in 600ms ease-in-out;
}

.title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #444444;
    margin-bottom: 32px;
}

.form-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #636363;
    margin-bottom: 4px;
}

.form-control {
    padding-left: 40px;
    height: 48px;
    background-color: #F6F7F8;
    border: 1px solid #a1b3b7b3;
    border-radius: 6px;

    &::placeholder {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #A1A1A2;
    }

    &:focus {
        border-color: #00809D;
    }
}

.login-btn {
    width: 100%;
    height: 48px;
    background-color: #00809D;
    border-radius: 6px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.form-group {
    position: relative;

    .form-group-icon {
        position: absolute;
        left: 12px;
        bottom: 12px;
    }
}

.forgot-password {
    display: inline-block;
    margin-top: 32px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #636363;
    text-decoration: underline;
}

.sign-up {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 48px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #444444;

    .link {
        text-decoration: underline;
        color: #636363;
    }
}

.subtitle {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: start;
    margin-top: -24px;
    margin-bottom: 24px;
    font-size: 14px;
    color: #636363;
}

@media screen and (max-width: 768px) {

    :host {
        padding: 16px;
    }

    .login {
        min-width: 200px;
        margin: 64px 8px;
    }

    .illustration {
        display: none;
    }
}

@keyframes drop-out {
    from {
        margin-top: 0;
        opacity: 1;
    }

    to {
        margin-top: 120px;
        opacity: 0;
    }
}

@keyframes pop-in {
    from {
        margin-top: 64px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}